---
import Layout from "./Layout.astro";
import Navbar from "../nav/Navbar";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
    <div class="flex justify-center mb-24 mx-6 md:mx-0">
        <div class="w-full md:w-3/4">
            <div class="mb-8">
                <Navbar />
            </div>

            <div class="flex flex-col gap-20">
                <slot />
            </div>
        </div>
    </div>
</Layout>
