---
import Layout from "./Layout.astro";
import Navbar from "../nav/Navbar";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
    <div class="flex justify-center mb-24">
        <div class="w-4/6">
            <Navbar />

            <div class="flex flex-col gap-20">
                <slot />
            </div>
        </div>
    </div>
</Layout>
