---
import { Image } from "astro:assets";
import MyFace from "../imgs/my_face.png";
import projects_data from "../data/projects.json";

import PageLayout from "../layouts/PageLayout.astro";
import ProjectCard from "../components/project/ProjectCard";
import { Github, Mail } from "lucide-react";
---

<PageLayout title="Zaid's Site">
    <div id="home" class="flex flex-row">
        <div class="flex flex-col gap-8 pr-8">
            <h1>Hello, I'm Zaid.</h1>
            <div class="flex flex-col gap-4">
                <p>
                    I build full-stack stuff™ using Node.js, JavaScript,
                    TypeScript, and Python. I'm familiar with databases like
                    PostgreSQL and MongoDB.
                </p>
                <p>
                    I'm currently really interested in learning lower-level
                    languages such as Rust and Elixir.
                </p>
                <p>
                    I'm the founder of Yoki. On the side, I am a Community
                    Manager for Adobe Creative Career. Previously a Software
                    Engineer at Mirage Security & Fiveable.
                </p>
                <p>I've spent X coding this year.</p>

                <div class="flex flex-row gap-2">
                    <Github />
                    <Mail />
                </div>
            </div>
        </div>

        <div
            class="bg-slate-800/50 border-slate-800/50 border-4 h-fit p-2 rounded-xl"
        >
            <Image
                src={MyFace}
                alt="Zaid's Face"
                width={500}
                class="rounded-xl"
            />
        </div>
    </div>

    <div id="projects" class="flex flex-col gap-4">
        <h2>Featured Projects</h2>

        <div>
            <h3 class="pb-4">Websites</h3>
            <div class="flex flex-row flex-wrap gap-4">
                {
                    projects_data.sites.map((project) => (
                        <ProjectCard {...project} />
                    ))
                }
            </div>
        </div>

        <div id="competitions">
            <h2>Competitions</h2>
        </div>

        <div id="blog">
            <h2>Blog</h2>
            <div></div>
        </div>
    </div>
</PageLayout>
